name: Deploy

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to deploy (branch, tag, or commit hash)'
        required: true
        default: 'master'
        type: string
  schedule:
    - cron: '0 0 */7 * *'  # Run at midnight every 7 days

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.inputs.version || 'master' }}

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '23'
          cache: 'npm'

      - name: Setup rclone
        run: |
          sudo apt update
          sudo apt install -y rclone

      - name: Install dependencies
        run: make setup

      - name: Deploy ${{ github.event.inputs.version || 'master' }}
        run: make deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          CLOUDFLARE_R2_ENDPOINT: ${{ secrets.CLOUDFLARE_R2_ENDPOINT }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
